*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
}

h1{
    color: #ccc;
    font-family: 'Odibee Sans', cursive;
    font-size: 200px;
    margin: 0 auto;
    width: fit-content;
    padding-top: 10rem;
    cursor: pointer;
}

h1 span:last-child{
    padding-left: 50%;
    color: #23ff2e;
}

/* ********* Cursor ********** */

.cursor .circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.cursor{
    z-index: 99998;
    mix-blend-mode: difference;    /* change background color  */
    pointer-events: none;  /* Cursor not working without it  */
}

/* ********* Cursor animation ********** */

.cursor .anim_cursor{
    background: none;
    transform: scale(1.3);
}

